@charset "utf-8";

.level {
  color: #fff;
  padding: 1px 5px;
  border-radius: 2px;
}

.level.high {
  background: #bf360c;
}

.level.medium {
  background: #26a69a;
}

.level.small {
  background: #616161;
}

.action a:first-child {
  margin: 5px 5px 5px 0;
}

.btn-res {
  width: 100%;
}